*{
    box-sizing: border-box
}
html{
    font-size: 62.5%;
}
body{
    background: #000;
    font-family: 'iCiel Amerigraf';
    font-size: 1.6rem;
}
/* Navigation bar */
.navbar{
    display: flex;
    padding: 40px 36px;
}
.navbar .logo{
    display: flex;
    margin-top: -15px;
}
.navbar .action-button{
    display: flex;
    margin-left: 250px;
    gap: 56px;
}
.navbar ul a{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}
.navbar ul li:first-child{
    position: relative;
    top:-2px;
}
.navbar ul a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    bottom: -10px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.navbar ul a:has(img):before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.noti-wrapper .noti-num{
    font-size: 0.8rem;
    font-family: 'Poppins';
    font-weight: 500;
    background-color: red;
    text-align: center;
    border-radius: 3px;
    height: 10px;
    width: 10px;
    position: absolute;
    top: -3px;
    left: 8px;
}
.navbar ul a:hover::before{  
    transform-origin: left;
    transform: scaleX(1);
}
.navbar .action-link::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    top:22px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.navbar .action-link:hover::before{  
    transform-origin: left;
    transform: scaleX(1);
}
.navbar .action-link{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}
.navbar .action{
    margin-left: auto;
    display: flex;
    gap:30px;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    align-items: center;
}
.navbar .search-input{
    border-radius: 60px;
    background: #D9D9D9;
    padding: 11px 18px;
    margin-top: -10px;
}
input[type="text"]{
    font-family: 'iCiel Grandma';
}
.navbar .search-input::placeholder{
    font-family: 'iCiel Grandma';
}
/* Logo */
.big-logo{
    display: flex;
}
.big-logo .main-logo{
    margin: auto;
}
/* List song and artist */
.list-top{
    width: 917px;
    height: 455px;
    border-radius: 51px;
    background: rgba(217, 217, 217, 0.25);
    margin: 30px auto auto auto;
    display: flex;
    justify-content: space-evenly;
}
.list-top .sub-title{
    color: #FFF;
    font-size: 3rem;
    font-weight: 400;
    line-height: normal;
}
.list-top .song-label,.artist-label{
    color: #FFF;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    background: black;
    margin-top: -20px;
    border-radius: 25px;
    width: 140.9px;
    height: 52.297px;
    text-align: center;
}
.list-top .desc{
    color: #FFF;
    font-family: iCiel Grandma;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: normal;
}
.list-songs{
    display: flex;
    flex-direction: column;
}
.list-songs .title{
    margin-top: 28px;
    display: flex;
    gap: 5px;
}
.list-songs .title:first-child{
    margin-top: 42.12px;
}
.list-songs .title .song-img{
    width: 71px;
    height: 71px;
    object-fit: cover;
    margin-left: -90px;
}
.line-break{
    width: 1px;
    height: 455px;
    background: #000;
}
.list-artists .title .artist-img{
    width: 71px;
    height: 71px;
    object-fit: cover;
    margin-left: -90px;
}
.list-artists .title:first-child{
    margin-top: 42.12px;
}
.list-artists .title{
    margin-top: 28px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.list-artists{
    display: flex;
    flex-direction: column;
}
footer{
    position: fixed;
    background: #D9D9D9;
    height: 63px;
    left: 0;
    bottom: 0;
    width: 100%;
}
.content .logo{
    display: flex;
    padding-top: 10px;
    padding-left: 36px;
}
.content .logo-text{
    color: #000;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: normal;
}
.left-footer{
    display: flex;
}
.left-footer .copyright{
    color: #000;
    font-family: iCiel Grandma;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    padding-top: 23px;
    padding-left: 10px;
}
.footer .content{
    display: flex;
    justify-content: space-between;
}
.right-footer .terms-condition,.faq,.contacts{
    color: #000;
    font-family: iCiel Grandma;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.right-footer .terms-condition:hover,.faq:hover,.contacts:hover{
    text-decoration: underline;
}
.right-footer{
    display: flex ;
    gap: 40px;
    margin-right: 30px;
    padding-top: 23px;
}
.avatar-img{
    width: 30px;
    border-radius: 15px;
}
.autocomplete-suggestions {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}
.autocomplete-suggestion,.no-songs {
    padding: 5px;
    cursor: pointer;
    background-color: #D9D9D9;
    font-family: iCiel Grandma;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    border-radius: 10px;
}
.autocomplete-suggestions li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.autocomplete-suggestions li img{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    padding: 10px;
}
.search-link{
    text-decoration: none;
}

